<% @areas.each do |area| %>
 <div class="area">  
   <% if area.image.attached? %>
   <%= image_tag item.image.variant(resize: '500x500'), class: 'message-image' if item.image.attached? %>
    <% end %>


    <div class="area-date">
      <%= area.created_at %>
    </div>

    <div class="area-content">
      <%= area.area_text %>
    </div>

 </div>
 </div>
<% end %>